<header>
  <div class="fat-arrow">
    <span>( ) =</span>
    <span class="caret">&#62;</span>
  </div>
  <a href="https://frontenddevelopment.tech/" target="_blank"
    >frontenddevelopment.tech</a
  >
</header>

<div id="module-name">
  <section *ngFor="let item of [].constructor(sectionLength); let i = index">
    <div #sections>{{ 'Section ' + (i + 1) }}</div>
  </section>
  <div id="indicator" #bar></div>
  <div id="percent">
    <div *ngFor="let percent of [].constructor(sectionLength); let i = index">
      {{ Math.round((100 / sectionLength) * (i + 1)) + '%' }}
    </div>
  </div>
  <div class="btn-group" #btnGroup (mouseover)="whereYouAt()" (mouseout)="revert()">
    <button
      *ngFor="let btn of [].constructor(sectionLength); let i = index"
      (click)="navigate(i)"
    >
      {{ 'Section ' + (i + 1) }}
    </button>
  </div>
</div>
