<header>
  <div class="fat-arrow">
    <span>( ) =</span>
    <span class="caret">&#62;</span>
  </div>
  <a href="https://frontenddevelopment.tech/" target="_blank"
    >frontenddevelopment.tech</a
  >
</header>

<div id="module-name">
  <section *ngFor="let item of sections; let i = index">
    <div #sections>{{'Section' + i}}</div>
  </section>
  <div id="indicator" #bar></div>
  <div id="percent">
    <div>33%</div>
    <div>66%</div>
    <div>100%</div>
  </div>
  <div class="btn-group" (mouseover)="whereYouAt()" (mouseout)="revert()">
    <button (click)="navigate(0)">Section 1</button>
    <button (click)="navigate(1)">Section 2</button>
    <button (click)="navigate(2)">Section 3</button>
  </div>
</div>
