html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

header {
  font: normal 14px sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #313b3f;
  color: #d9a74a;
  overflow: auto;
  padding: 5px 20px 7px 15px;
  position: relative;
}
.fat-arrow {
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.fat-arrow span {
  font-size: 20px;
  font-style: italic;
}
.caret {
  font-size: 30px;
  line-height: 22px;
  display: inline-block;
  font-weight: lighter;
}
